<% provide(:title, "Home") %>

<div class="center jumbotron">
    
    <a href="static_pages/about"><h1>Sam Grimes's Portfolio App</h1></a>
    <p>It's weird having a website about yourself.</p>

    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
